
	.profile-pic {
		border-style: solid;
		border-color : white;
		border-width : 5px;
		width : 200px;
	}
	
	.custom-container {
		width : 100vw;
		margin-top : 30px;
	}

	.margin-top10 {
		margin-top : 10px;
	}
	
	.margin-top15 {
		margin-top : 15px;
	}

	.margin-top30 {
		margin-top : 30px;
	}
	